* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: white;
  width: 1920px;
  height: 1080px;
}

/* chess says who we are */

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
  color: #fff;
}

/* A lot about */

h3 {
  position: absolute;
  left: 607px;
  top: 306px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #212529;
}

/* Redberry knight Cup */

.logo-name {
  /* Position and size */
  position: absolute;
  width: 252.82px;
  height: 23.35px;
  left: 22.93px;
  top: 0px;
}

/* Logo */

.logo {
  background-image: url(images/vector.png);
  /* position and size*/
  position: absolute;
  width: 14.67px;
  height: 18.33px;
  left: 60px;
  top: 30px;
  bottom: 35px;
}

/* landing page main photo */
.footer-image {
  background-image: url("images/landing.png");
  /* Position and size*/
  position: absolute;
  width: 923px;
  height: 996px;
  left: 0px;
  top: 84px;
}

/* Landing page logo part background*/
.rectangle-2 {
  background-color: #7025fb;
  /* position and size*/
  position: absolute;
  width: 923;
  height: 84;
  padding-left: 60px;
  font-size: 40px;
}

/* landing page text part background*/
.rectangle-1 {
  background-color: #fd5334;
  /* position and size */
  position: absolute;
  width: 997px;
  height: 1080px;
  left: 923px;
  top: 0px;
}
/* chess says */
.main-text1 {
  position: absolute;
  left: 85px;
  top: 265px;
}
/* who we are */
.main-text2 {
  position: absolute;
  left: 86px;
  top: 390px;
}

/* Get started button */
.start-btn {
  /* Button layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  background-color: #212529;
  border-radius: 8px;

  /* Get started */
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Position and size*/
  position: absolute;
  width: 191px;
  height: 53px;
  left: 85px;
  top: 600px;
}

/* get started's arrow */
.start-btn-arrow {
  position: absolute;
  left: 143px;
}

/* get started batton hover */
.start-btn:hover {
  border: 4px solid rgba(194, 165, 249, 0.8);
}

/* SECOND PAGE */

/* second page main photo */
.footer-image2 {
  background-image: url("images/second.png");
  /* position and size */
  position: absolute;
  width: 923px;
  height: 996px;
  left: 0px;
  top: 84px;
}

/* “When you see a good move, look for a better one.” */

.quote {
  /* position*/
  position: absolute;
  width: 423px;
  height: 83px;
  left: 132px;
  top: 251px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #212529;
}

/* -Emanuel Lasker */
.name {
  /* position*/
  position: absolute;
  left: 132px;
  top: 358px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #e5e6e8;
  /* identical to box height */
  text-transform: uppercase;
}

/* start creating your account */
.starting-msg {
  /* position*/
  position: absolute;
  left: 971px;
  top: 30px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #212529;
  /* identical to box height, or 24px */
  text-transform: capitalize;
}

/* line */
.starting-line {
  position: absolute;
  width: 999px;
  height: 0px;
  left: 923px;
  top: 84px;

  border: 1px solid rgba(185, 180, 196, 0.3);
}

/* box number 1 */
.box-1 {
  position: relative;
  width: 40px;
  height: 40px;
  left: 1030px;
  top: 140px;

  box-sizing: border-box;

  background: #fff;
  border: 1px solid #e5e6e8;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* box connect line */
.connect-line {
  /* position and size */
  position: absolute;
  width: 178px;
  height: 0px;
  left: 1074px;
  top: 160px;

  border: 0.5px solid rgba(185, 180, 196, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* box number 2 */
.box-2 {
  /* position and size */
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1258px;
  top: 140px;

  box-sizing: border-box;

  background: #f5f5f5;
  border: 1px solid #e5e6e8;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.box-num1 {
  /* position*/
  position: absolute;
  left: 14px;
  top: 8px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #212529;
}

.box-num2 {
  /* position*/
  position: absolute;
  left: 14px;
  top: 8px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #95939a;
}

.box-txt1 {
  /* position*/
  position: absolute;
  left: 971px;
  top: 188px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #000000;
}

.box-txt2 {
  position: absolute;
  width: 158px;
  height: 24px;
  left: 1206px;
  top: 188px;

  font-family: "Open Sans";

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #000000;
}

.info {
  /* position */
  position: absolute;
  left: 971px;
  top: 324px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
}
/* this is basi information field */
.small-info {
  /* position */
  position: absolute;
  left: 971px;
  top: 375px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #95939a;
  /* identical to box height, or 21px */

  text-transform: capitalize;
}
/* next button */
.next-btn {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 24px;

  position: relative;
  width: 128px;
  height: 53px;
  left: 650px;
  bottom: 45px;

  background: #212529;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* next btn arrow */
.next-btn-arrow {
  position: absolute;

  left: 80px;
  top: 12px;
}

/* next batton hover */
.next-btn:hover {
  border: 4px solid rgba(194, 165, 249, 0.8);
}

/* back button */
.back-btn,
.back-btn-third {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 24px;
  background-color: white;

  position: relative;
  width: 93px;
  height: 53px;
  left: 0px;
  top: 5px;

  border: 1px solid #212529;
  border-radius: 8px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #212529;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* back buttton's hover */
.back-btn:hover,
.back-btn-third:hover {
  background: rgba(185, 180, 196, 0.3);
  border: 1px solid rgba(194, 165, 249, 0.8);
  border-radius: 8px;
}

.done-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 21px;

  position: relative;
  width: 100px;
  height: 53px;

  background: #212529;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;

  color: #ffffff;
}

.done-btn:hover {
  border: 4px solid rgba(194, 165, 249, 0.8);
}
/* input style */
.field input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  padding: 8px 16px;

  width: 775px;
  height: 46px;

  /* Gray/White */

  background: #ffffff;
  /* Border & Divider/divider ↓ */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.field {
  width: 775px;
  height: 46px;
}

/* placeholder style */
.content input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Gray/900 */

  color: #212529;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  right: 590px;
  cursor: a;
}
/* check icons */
.check1,
.check2,
.check3,
.check4 {
  position: relative;
  left: 740px;
  bottom: 35px;
  display: none;
}
/* form position and size */
#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 775px;
  height: 304px;
  left: 971px;
  top: 481px;
}
/* box number 1 done icon */
.done {
  background-image: url(images/done.png);
  position: relative;
  width: 25px;
  height: 14px;
  top: 14px;
  left: 7px;
}

/* invalid message */

.error1-box,
.error2-box,
.error3-box,
.error4-box {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  display: none;
  /* position and size */
  position: absolute;
  width: 350px;
  height: 87px;
  left: 550px;
  bottom: 470px;

  width: 350px;
  height: 87px;

  /* _Components/Toasts/Background */

  background: rgba(255, 255, 255, 0.85);
  /* _Components/Toasts/Border */

  border: 1px solid rgba(0, 0, 0, 0.1);
  /* _Components/Toasts/Shadow */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* invalid icon */
.invalid {
  padding-top: 9px;
  padding-left: 9px;
}

/* invalid txt */
.invalid-txt {
  position: relative;
  width: 272px;
  bottom: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  color: #dc3545;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  padding-left: 8px;
  margin-right: 195px;
}

.close1,
.close2,
.close3,
.close4 {
  content: "";
  background: url(images/close.png);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 10px;
  left: 320px;
  top: 15px;
}
/* invalid line */
.invalid-line {
  /* line */

  width: 350px;
  height: 0px;

  opacity: 0.05;
  /* Gray/Black */

  border: 1px solid #000000;
}

/* enter correct infp */
.enter {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #212529;
  position: relative;
  top: 12px;
  left: 12px;
}

/* third page photo*/
.footer-image3 {
  background-image: url(images/third.png);
  position: absolute;
  left: 0px;
  top: 84px;
  width: 923px;
  height: 996px;
}
/*many have become chess masters;no one has become the master of chess" */
.quote2 {
  position: absolute;
  width: 615px;
  height: 83px;
  left: 117px;
  top: 261px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;

  color: #212529;
}

/* siegbert tarasch */
.name2 {
  position: absolute;
  width: 266px;
  height: 33px;
  left: 466px;
  top: 376px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  text-transform: uppercase;

  color: #093f68;
}
/* Box 1 Done */
.reg {
  background: #e9faf1;
  border-radius: 8px;
  border: none;
}
/* Box 2 Bold */
.bold {
  color: #212529;
}
/* third page back button position*/
.back-btn-third {
  position: absolute;

  left: 970px;
  top: 886px;
}
/*done button position */
.done-btn {
  position: absolute;

  left: 1680px;
  top: 886px;
}
/* level of knowledge dropdown position*/
.dropdown {
  position: relative;
  width: 392px;
  height: 46px;
  left: 961px;
  top: 491px;
}
/* choose your character dropdown position */
.dropdown2 {
  position: relative;
  width: 392px;
  height: 46px;
  left: 1386px;
  top: 445px;
}
/* dropdown arrow*/
.dropdown::before,
.dropdown2::before {
  content: "";
  background-image: url(images/bar.png);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 13px;
  left: 359px;
  top: 20px;
  cursor: pointer;
}
/* dropdown arrow open*/
.dropdown.active::before,
.dropdown2.active::before {
  transform: rotate(180deg);

  top: -20px;
}
/* dropdown style */
.dropdown input,
.dropdown2 input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #ffffff;
  border: none;
  outline: none;
  /* Border & Divider/divider ↓ */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 8px 16px;
}

/* dropdown placeholder style */
.dropdown input::placeholder,
.dropdown2 input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Gray/900 */

  color: #212529;
}

.dropdown.active .option,
.dropdown2.active .option-box {
  display: block;
}
.textBox,
.textBox2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Gray/900 */

  color: #212529;
}
/* dropdown option style */
.dropdown .option {
  position: absolute;
  top: 50px;
  width: 100%;

  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 392px;
  height: 199px;
  margin-left: 10px;
  overflow: hidden;
  display: none;
  transition: 0.4s;
  z-index: 10000;
}

.dropdown .option div:hover {
  background: #f7f7f9;
}

.dropdown .option div {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;

  padding: 15px 20px;
  cursor: pointer;
}

/* dropdown option style */
.dropdown2 .option-box {
  position: absolute;
  top: 50px;
  width: 100%;

  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 391px;
  height: 419px;
  margin-left: 10px;
  overflow: hidden;
  display: none;
  transition: 0.4s;
  z-index: 10000;
}
.dropdown2 .option-box .total {
  position: relative;
  width: 100%;
  height: 24px;
  left: 28px;
  top: 16px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-transform: capitalize;

  color: #817d7d;
}

.dropdown2 .option-box #option .player {
  margin-top: 20px;
  height: 72px;
  cursor: pointer;
}

.dropdown2 .option-box #option .player:hover {
  background: #f7f7f9;
}

.dropdown2 #option .player-img {
  position: relative;
  left: 272px;
  bottom: 30px;
  height: 100%;
  width: 100px;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.player-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;

  position: relative;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

/* question position */
.question {
  position: absolute;
  width: 775px;
  height: 46px;
  left: 960px;
  top: 640px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Gray/900 */

  color: #212529;
}

.qustion .option {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

/* FOURTH PAGE */
.footer-image4 {
  background: url(images/last.png);
  position: absolute;
  width: 923px;
  height: 996px;
  left: 0px;
  top: 84px;
}

.completed {
  background: url(images/onboarding.png);
  position: absolute;
  width: 402px;
  height: 260.65px;
  left: 1201px;
  top: 416px;
}
