* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  position: absolute;
  left: 607px;
  top: 306px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

/* landing page main photo */
.footer-image {
  background-image: url("images/landing.png");
  width: 923px;
  height: 1196px;
  position: absolute;
  left: 0px;
  top: 84px;
}

.logo-name {
  position: absolute;
  width: 252.82px;
  height: 23.35px;
  left: 22.93px;
  top: 0px;
}

.logo {
  background-image: url(images/vector.png);
  width: 14.67px;
  height: 18.33px;
  position: absolute;
  left: 60px;
  top: 30px;
  bottom: 35px;
}
.rectangle-2 {
  background-color: #7025fb;
  width: 923;
  height: 84;
  position: absolute;
  padding-left: 60px;
  font-size: 40px;
}

.rectangle-1 {
  background-color: #fd5334;
  position: absolute;
  width: 997px;
  height: 1280px;
  left: 923px;
  top: 0px;
}

.main-text1 {
  position: absolute;
  left: 85px;
  top: 265px;
}

.main-text2 {
  position: absolute;
  left: 86px;
  top: 390px;
}

.start-btn {
  /* Button layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  background-color: #212529;
  border-radius: 8px;

  /* Get started */
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  /* Position */
  position: absolute;
  width: 191px;
  height: 53px;
  left: 85px;
  top: 600px;
}

.btn-arrow {
  position: absolute;
  left: 143px;
}

.start-btn:hover {
  border: 4px solid rgba(194, 165, 249, 0.8);
}

/* SECOND PAGE */

.footer-image2 {
  background-image: url("images/chess.png");
  width: 923px;
  height: 1196px;
  position: absolute;
  left: 0px;
  top: 84px;
}

/* “When you see a good move, look for a better one.” */

.quote {
  position: absolute;
  width: 423px;
  height: 83px;
  left: 132px;
  top: 251px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
}

/* -Emanuel Lasker */
.name {
  position: absolute;
  width: 222px;
  height: 33px;
  left: 132px;
  top: 358px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #e5e6e8;
  /* identical to box height */
  text-transform: uppercase;
}

/* Start creating your account */

.starting-msg {
  position: absolute;
  width: 215px;
  height: 24px;
  left: 971px;
  top: 30px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;

  color: #212529;
}

/* line */
.starting-line {
  position: absolute;
  width: 999px;
  height: 0px;
  left: 923px;
  top: 84px;

  border: 1px solid rgba(185, 180, 196, 0.3);
}
